.alpha {
	color: #277da1;
	text-align: center;
	font-family: Georgia;
}

h2 {
	color: #005f73;
	font-family: Verdana;
}

.bravo {
	color: #4d908e;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: x-large;
}

p.charlie {
	color: #43aa8b;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	font-style: italic;
}

p.delta {
	color: #90be6d;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	font-weight: 700;
}

.echo {
	color: #f9c74f;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	line-height: 25px;
}

.foxtrot {
	color: #f9c74f;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	line-height: 25px;
}

.god {
	color: #f9844a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	line-height: 25px;
}

.hellcat {
	color: #f9844a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	line-height: 25px;
}

.ida {
	color: #f3722c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	line-height: 25px;
}

.jackie {
	color: #f94144;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	line-height: 25px;
}

.kill {
	color: #f94144;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	line-height: 25px;

}

ol {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	line-height: 25px;
}

body {
	background-color: #9d4edd;
}

img {
	width: 250px;
	height: auto;
}